@font-face {
    font-family: 'DS_Digital';
    src: url(fonts/DS-DIGI.TTF);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DS_Digital';
    src: url(fonts/DS-DIGIB.TTF);
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'DS_Digital';
    src: url(fonts/DS-DIGII.TTF);
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'DS_Digital';
    src: url(fonts/DS-DIGIT.TTF);
    font-weight: bold;
    font-style: italic;
}

body{
    margin: 0px;
    padding: 0px;
    height: 93vh;
    background: rgb(11, 11, 71);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;

}

h1,h2,h3,h4,h5,h6, p, span, div, button{
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
}

#btn{
    display: flex;
    justify-content: space-around;
}

.scores{
    background: rgba(0, 0, 0, 0.726);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    height: 120px;
    border-radius: 5px;
    color: red;
    font-family: DS_Digital;
    font-size: 100px;
}

#title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button{
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background: rgb(11, 11, 71);
    color: rgba(255, 255, 255, 0.7);
    border: 2px solid rgba(255, 255, 255, 0.6);
    font-size: 16px;
    cursor: pointer;
    font-family: DS_Digital;
    font-size: 25px;
    margin: 10px;
}