@font-face {
    font-family: 'DS_Digital';
    src: url(fonts/DS-DIGI.TTF);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DS_Digital';
    src: url(fonts/DS-DIGIB.TTF);
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'DS_Digital';
    src: url(fonts/DS-DIGII.TTF);
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'DS_Digital';
    src: url(fonts/DS-DIGIT.TTF);
    font-weight: bold;
    font-style: italic;
}

body{
    margin: 0px;
    padding: 0px;
    background: rgb(63, 63, 67);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

h1,h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
}


#clock{
    height: 70px;
    width: 200px;
    background: rgb(18, 48, 32);
    border-radius: 5px;
    border: 2px solid white;
    top: 74px;
    position: absolute;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
}

#time{
    visibility: visible;
    font-family: DS_Digital;
    color: #fff;
    text-shadow: 0 0 10px;
}

#min-input, #sec-input{
    position: absolute;
    background: none;
    border: 1px solid rgb(0, 247, 255);
    border-radius: 5px;
    font-family: DS_Digital;
    font-size: 32px;
    font-weight: bold;
    color: #fff;
    width: 40px;
    visibility: hidden;
}

#min-input{
    left: 54px;
}

#sec-input{
    left: 109px;
}

#min-input::placeholder, #sec-input::placeholder{
    color: #fff;
}

#edit-time, #save-time{
    position: absolute;
    background: none;
    border: none;
    left: 150px;
    color: #fff;
    cursor: pointer;
}

#save-time{
    visibility: hidden;
    font-size: 15px;
}

#edit-time:hover, #save-time:hover, #start-btn:hover, #pause-btn:hover, #reset-btn:hover{
    color: rgb(0, 247, 255);
}

#mins-secs{
    position: absolute;
    top: 50px;
    color: #fff;
    word-spacing: 30px;
    font-family: DS_Digital;
    font-size: 12px;
}

#clock-btns{
    position: absolute;
    top: 143px;
    height: 30px;
    width: 150px;
    background:rgb(18, 48, 32);
    border: 2px solid white;
    z-index: 2;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    
}

#start-btn, #pause-btn, #reset-btn{
    background: none;
    border: none;
    margin: 0px 10px;
    cursor: pointer;
    color: #fff;
}

#background{
    position: absolute;
    height: 500px;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(14, 14, 81);
    border: 5px solid white;
    border-radius: 10px;
    z-index: 1;
}

#team-names{
    display: flex;
    color: #fff;
    font-family: Tourney;
    font-size: small;
}

#team1-name{
    position: absolute;
    top: 200px;
    left: 100px;
}

#team2-name{
    position: absolute;
    top: 200px;
    right: 100px;
}

#display{
    color: red;
    text-shadow: 0 0 20px;
    font-family: DS_Digital;
    font-size: 40px;
}

#team1-display, #team2-display{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 150px;
    background: black;
    border-radius: 5px;
}

#team1-display{
    position: absolute;
    top: 250px;
    left: 70px;
}
#team2-display{
    position: absolute;
    top: 250px;
    right: 65px;
}

#team1-1{
    position: absolute;
    top: 370px;
    left: 80px;
}
#team1-2{
    position: absolute;
    top: 370px;
    left: 130px;
}
#team1-3{
    position: absolute;
    top: 370px;
    left: 180px;
}

#reset-score-btn{
    position: absolute;
    top: 370px;
    left: 295px;
}


#team2-1{
    position: absolute;
    top: 370px;
    right: 175px;
}

#team2-2{
    position: absolute;
    top: 370px;
    right: 125px;
}

#team2-3{
    position: absolute;
    top: 370px;
    right: 75px;
}


#score-ctrls button{
    padding: 5px 10px;
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 3px;
    color: rgba(255, 255, 255, 0.8);
    font-family: DS_Digital;
    font-size: 15px;
    cursor: pointer;
}

#score-ctrls button:hover{
    color: rgb(14, 14, 81);
    background: rgba(255, 255, 255, 0.8);
}

#edit-team1, #save-team1{
    position: absolute;
    top: 203px;
    left: 200px;
    background: none;
    border: none;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
}

#edit-team2, #save-team2{
    position: absolute;
    top: 203px;
    right: 60px;
    background: none;
    border: none;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
}

#save-team1, #save-team2{
    visibility: hidden;
}

#edit-team1:hover, #save-team1:hover, #edit-team2:hover, #save-team2:hover{
    color: rgb(0, 247, 255);
}

#team1name-input{
    visibility: hidden;
    position: absolute;
    height: 30px;
    width: 95px;
    top: 197px;
    left: 97px;
    background: none;
    border: 1px solid rgb(0, 247, 255);
    border-radius: 5px;
    font-family: Tourney;
    font-size: 30px;
    color: #fff;
    font-weight: 700;
}

#team1name-input::placeholder{
    color: #fff;
    font-size: x-large;
    font-weight: 700;
    font-size: 27px;
}

#team2name-input{
    visibility: hidden;
    position: absolute;
    height: 30px;
    width: 95px;
    top: 197px;
    right: 97px;
    background: none;
    border: 1px solid rgb(0, 247, 255);
    border-radius: 5px;
    font-family: Tourney;
    font-size: 30px;
    color: #fff;
    font-weight: 700;
}

#team2name-input::placeholder{
    color: #fff;
    font-size: x-large;
    font-weight: 700;
    font-size: 27px;
}